<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Master Test Suite" verbose="1">
    <suite-files>
        <suite-file path="smoke-suite.xml"/>
        <suite-file path="functional-suite.xml"/>
        <suite-file path="regression-suite.xml"/>
    </suite-files>
</suite>
