<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Selenium Test Suite - All Tests">
    <listeners>
        <listener class-name="com.framework.utils.TestListener"/>
    </listeners>
    
    <!-- Rahul Shetty Academy Tests - BaseUrl.1 -->
    <test name="Rahul Shetty Academy Tests">
        <classes>
            <class name="com.framework.tests.HomePageTest"/>
            <class name="com.framework.tests.RadioButtonTest"/>
        </classes>
    </test>
    
    <!-- SauceDemo Tests - BaseUrl.2 - DISABLED -->
    <!--
    <test name="SauceDemo Tests">
        <classes>
            <class name="com.framework.tests.SauceDemoTest"/>
        </classes>
    </test>
    -->
    
    <!-- Utility Tests -->
    <test name="Utility Tests">
        <classes>
            <class name="com.framework.utils.AppTest"/>
        </classes>
    </test>
</suite>